body {
  background: linear-gradient(
    90deg,
    rgb(138, 192, 253) 0%,
    rgb(186, 215, 248) 51%,
    rgb(215, 231, 250) 100%
  ) !important;
}


/* Navbar styles*/
.ui.inverted.top.fixed.menu {
  background: linear-gradient(
    90deg,
    rgb(138, 192, 253, 0.8) 0%,
    rgba(186, 215, 248, 0.8) 51%,
    rgb(215, 231, 250, 0.8) 100%
  ) !important;
}
/* End navbar styles*/


/* Calendar styles*/
.react-calendar {
  width: 100%;
  border: none;
  border-radius: 25px;
  font-weight: bold;
}
/* End calendar styles*/


/* Home page styles*/
.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgb(138, 192, 253) 0%,
    rgb(186, 215, 248) 51%,
    rgb(215, 231, 250) 100%
  ) !important;
  height: 100vh;
}
.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
/* End home page styles*/


/* React date picker styles*/
.react-datepicker-wrapper {
  width: 100%;
}
/* .react-datepicker__month-container{
  border-radius: 25px;
}
.react-datepicker__navigation--next{
  right: 15px
}
.react-datepicker{
  border-radius: 25px;
}
.react-datepicker__header{
  border-radius: 25px;
  width: 250px
} */
/* End react date picker styles*/


/* Modal styles */
.ui.dimmer {
  background: linear-gradient(
    90deg,
    rgb(138, 192, 253) 0%,
    rgba(186, 215, 248) 51%,
    rgb(215, 231, 250) 100%
  ) !important;
}
.ui.dimmer.visible::before {
  filter: blur(5px); 
}
/* End modal styles*/

/* Menu profile styles */
.menu-profile {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}
/* End menu profile styles*/